@font-face {
  font-family: UbuntuBold;
  src: url('../public/static/fonts/Ubuntu-Bold.ttf') format('bold');
  src: url('../public/static/fonts/Ubuntu-Medium.ttf') format('medium');
  src: url('../public/static/fonts/Ubuntu-Regular.ttf') format('regular');
}

body{
  background-color:#ebeefa;
  font-family: myFirstFont;
}

